/*CONTROLE DE TELA: CONFIGURAÇÕES FIRST MOBILE*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
    background-color: rgb(3, 47, 61);
}

h1{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

h1 > span{
    font-size: 2em;
}

div#logo{
    background: black url(logo.png) center center no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 15%;
}

div#container{
    margin: 10%;
}

label{
    color: white;
}

input{
    background-color: rgb(3, 47, 61);
    border: 0px;
    border-bottom: 2px solid white;
    width: 250px;
    color: white;
}
input:focus-within{
    background-color: rgba(255, 217, 0, 0.611);
    color:black;
}

::placeholder{
    color: white;
}

.material-symbols-outlined{
    padding: 5px;
    color: white;
}
.botoes{
    font-family: 'Dancing Script', cursive;
    font-size: 1em;
    border: 1px solid rgb(228, 222, 53);
    background-image: linear-gradient(to right, rgb(232, 187, 80), rgb(246, 194, 74));
    color: rgb(38, 36, 36);
    text-decoration: none;
    height: 30px;
    margin-bottom: 0%;
    border-radius: 6px;
}

#uiq{
    font-size: 1.3em;
    display: block;
    margin: 8%;
    text-align: top;
    padding-bottom: 2%;
}

a > p{
    color: white;
    margin: 3%;
    padding: 0px;
    text-align: center;
    font-size: 0.8em;
}

#uiq1{
    position: absolute;
    top: 0.5%;
    left: 70%;
    margin: 1%;
    text-align: top;
    padding-bottom: 10%;
    color:rgb(38, 36, 36);
}

/*.................Logger Área....................*/
#container2{
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 350px;
    height: auto;
    background-color: aliceblue;
    border: 2px solid gold;
}
.subC{
    display: inline-block;
    margin: 1%;
    border: 2px solid gold;
    width: 46%;
    height: 100px;
    background-color: rgba(167, 153, 72, 0.618);
    text-align: center;
}
.subC:hover{
    cursor: pointer;
}
.h5doSubC{
    display: block;
    margin-top: 10%;
}
.saidaecho{
    color: white;
    position: absolute;
    top: 45%;
    left: 10%;
}
#nome{
    width: 200px;
}
#psaida1{
    display: inline;
}
#formdecadastro{
    margin: 3%;
    background-color: rgba(130, 182, 184, 0.448);
    border-radius: 8px;
}
#tarea{
    resize: none;
    margin: 2%;
    width: 95%;
    height: 150px;
}


/*CONTROLE DE TELA: CONFIGURAÇÕES PARA TELAS GRANDES*/

@media screen and (min-width: 750px) {
    div#logo{
        margin-top: 1%;
    }
    a > p{
        font-size: 0.8em;
        text-align: left;
        margin: 0px;
        margin-top: 1%;
    }
    #uiq1{
        height: 25px;
        padding-bottom: 4%;
    }
    #uiq{
        margin: 0px;
        margin-top: 1%;
        margin-left: 35%;
    }
    .botoes:hover{
        cursor: pointer;
    }
    .saidaecho{
        top: 50%;
    }
}